* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: black;
  padding: 5%;
}
.logo {
  margin-left: 15%;
}
.media_img {
  display: none;
}
.main_img {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
p {
  color: white;
}
.footer > p {
  font-size: 30px;
  padding-left: 20px;
}
.footer img {
  width: 170px;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .main_img {
    display: none;
  }
  .media_img {
    display: block;
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
  }
  .footer {
    flex-wrap: wrap-reverse;
  }
  .logo img {
    max-width: 100px;
  }
}
