* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
}
.section {
  display: flex;

  width: 100%;
  height: 100vh;
}
.left {
  flex: 1;
  background-color: #faff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.right {
  flex: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.right_container_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rida_img {
  width: 100%;
  max-width: 100px;
  padding: 0 0% 20% 0;
  margin-right: 200px;
}
.earncash {
  width: 100%;
  max-width: 600px;
}
.daynnight {
  width: 100%;
  padding: 0 0 10% 0;
}
a {
  text-decoration: none;
}
.driver_app {
  /* padding: 0 0 10% 20%; */
  color: white;
}
.order_taxi {
  color: black;
  padding: 0 0 10% 30%;
}
h1 {
  font-size: 50px;
}
p {
  color: #ffffff80;
  padding: 15% 0% 0% 40%;
}
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    height: 100vh;
  }
  .rida_img,
  .order_taxi,
  .daynnight {
    padding-bottom: 5%;
  }
}
